
src/minecraft_server/com/mojang/comm/SocketConnection.java
src/minecraft_server/com/mojang/comm/SocketServer.java
src/minecraft_server/com/mojang/minecraft/Entity.java
src/minecraft_server/com/mojang/minecraft/HitResult.java
src/minecraft_server/com/mojang/minecraft/level/BlockMap$Slot.java
src/minecraft_server/com/mojang/minecraft/level/BlockMap.java
src/minecraft_server/com/mojang/minecraft/level/Coord.java
src/minecraft_server/com/mojang/minecraft/level/Level.java
src/minecraft_server/com/mojang/minecraft/level/levelgen/LevelGen.java
src/minecraft_server/com/mojang/minecraft/level/levelgen/synth/Distort.java
src/minecraft_server/com/mojang/minecraft/level/levelgen/synth/ImprovedNoise.java
src/minecraft_server/com/mojang/minecraft/level/levelgen/synth/PerlinNoise.java
src/minecraft_server/com/mojang/minecraft/level/levelgen/synth/Synth.java
src/minecraft_server/com/mojang/minecraft/level/LevelInputStream.java
src/minecraft_server/com/mojang/minecraft/level/LevelIO.java
src/minecraft_server/com/mojang/minecraft/level/liquid/Liquid.java
src/minecraft_server/com/mojang/minecraft/level/RendererContext.java
src/minecraft_server/com/mojang/minecraft/level/tile/BaseLeafTile.java
src/minecraft_server/com/mojang/minecraft/level/tile/BookshelfTile.java
src/minecraft_server/com/mojang/minecraft/level/tile/Bush.java
src/minecraft_server/com/mojang/minecraft/level/tile/CalmLiquidTile.java
src/minecraft_server/com/mojang/minecraft/level/tile/DirtTile.java
src/minecraft_server/com/mojang/minecraft/level/tile/FallingTile.java
src/minecraft_server/com/mojang/minecraft/level/tile/Flower.java
src/minecraft_server/com/mojang/minecraft/level/tile/GlassTile.java
src/minecraft_server/com/mojang/minecraft/level/tile/GrassTile.java
src/minecraft_server/com/mojang/minecraft/level/tile/LeafTile.java
src/minecraft_server/com/mojang/minecraft/level/tile/LiquidTile.java
src/minecraft_server/com/mojang/minecraft/level/tile/LogTile.java
src/minecraft_server/com/mojang/minecraft/level/tile/MetalTile.java
src/minecraft_server/com/mojang/minecraft/level/tile/Mushroom.java
src/minecraft_server/com/mojang/minecraft/level/tile/OreTile.java
src/minecraft_server/com/mojang/minecraft/level/tile/SlabTile.java
src/minecraft_server/com/mojang/minecraft/level/tile/SpongeTile.java
src/minecraft_server/com/mojang/minecraft/level/tile/StoneTile.java
src/minecraft_server/com/mojang/minecraft/level/tile/Tile$SoundType.java
src/minecraft_server/com/mojang/minecraft/level/tile/Tile.java
src/minecraft_server/com/mojang/minecraft/level/tile/TntTile.java
src/minecraft_server/com/mojang/minecraft/level/UnusedSyntheticClass.java
src/minecraft_server/com/mojang/minecraft/model/Vec3.java
src/minecraft_server/com/mojang/minecraft/net/EntityPos.java
src/minecraft_server/com/mojang/minecraft/net/Packet.java
src/minecraft_server/com/mojang/minecraft/particle/ParticleEngine.java
src/minecraft_server/com/mojang/minecraft/phys/AABB.java
src/minecraft_server/com/mojang/minecraft/renderer/Frustum.java
src/minecraft_server/com/mojang/minecraft/renderer/Textures.java
src/minecraft_server/com/mojang/minecraft/server/Client.java
src/minecraft_server/com/mojang/minecraft/server/Connection.java
src/minecraft_server/com/mojang/minecraft/server/ConsoleInput.java
src/minecraft_server/com/mojang/minecraft/server/HeartbeatThread.java
src/minecraft_server/com/mojang/minecraft/server/LevelCopyThread.java
src/minecraft_server/com/mojang/minecraft/server/MD5Hash.java
src/minecraft_server/com/mojang/minecraft/server/MinecraftServer.java
src/minecraft_server/com/mojang/minecraft/server/PlayerList.java
src/minecraft_server/com/mojang/minecraft/server/ServerLog.java
src/minecraft_server/com/mojang/minecraft/server/ServerLogFormatter.java
src/minecraft_server/com/mojang/minecraft/User.java
src/minecraft_server/util/Mth.java
